
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="nav navbar">
        <h3>A Fazer</h3>
      </div>
      <div class="input-group">
        <label for="inputPassword2" class="sr-only">Tarefa</label>
        <input type="text" name="taskName" class="form-control" id="inputtask2" [(ngModel)]="task.name" placeholder="Digite o nome para a tarefa"/>
        <div class="input-group-append">
          <button type="button" (click)="addTask()" [disabled]="task.name.length === 0" class="btn btn-primary mb-2" id="btnAdicionar">{{(task.id > 0) ? 'Editar' : 'Salvar'}}</button>
          <button type="button" (click)="editTask(false)" *ngIf="task.name.length > 0" class="btn btn-secondary mb-2" id="btnCancelarEdicao">Cancelar</button>
        </div>
      </div>
      <table class="table table-bordered table-striped table-sm">
        <thead align="center">
          <th>Tarefa</th>
          <th>Pronta?</th>
          <th colspan="3">Ação</th>
        </thead>
        <tbody id="tableBody" align="center">
          <tr *ngFor="let t of tasks; let i = index;">
            <td>{{t.name}}</td>
            <td>{{t.done ? 'Sim' : 'Não'}} </td>
            <td>
              <button  type="button" (click)="setDone(t)" class="btn btn-primary mb-2" id="btnDone" title="Pronto" [disabled]="task.id > 0">
                <fa name="check-square"></fa>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-secondary mb-2" (click)="editTask(t)" title="Editar" id="btnEdit" [disabled]="task.id > 0"><fa name="edit" animation="none"></fa> </button>
            </td>
            <td>
              <button type="button" (click)="delete(t)"  class="btn btn-danger mb-2" id="btnDelete" title="Deletar" [disabled]="task.id > 0"><fa name="trash" animation="none"></fa></button>
            </td>
          </tr>
          <tr *ngIf="!tasks || tasks.length === 0">
            <td colspan="3" align="center">
              Não há tarefas adicionadas
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

